<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <context:annotation-config/>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/lms"/>
        <property name="username" value="root"/>
        <property name="password" value="Password1234"/>
    </bean>
    
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="annotatedClasses">
        	<list>
        		<value>org.example.vo.BookRepository</value>
        	</list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect = org.hibernate.dialect.MySQLDialect
            </value>
        </property>
    </bean>
    
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	   <property name="sessionFactory" ref="mySessionFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <bean id="bookRepo" class="org.example.dao.impl.BookRepositoryDaoImpl">
    	<property name="sessionFactory" ref="mySessionFactory"/>
    </bean>
    
    <bean id="bookRepoService" class="org.example.service.impl.BookRepositoryServiceImpl">
    	<property name="bookRepositoryDao" ref="bookRepo"/>
    </bean>

</beans>